*{margin:0; padding:0; box-sizing:border-box;}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height:1.4;
}
p{
    padding:.375rem 0;
    &:first-of-type{padding-top:0;}
    &:last-of-type{padding-bottom:0;}
}
a{text-decoration:none; color:inherit; font-weight:bold;}
ul{list-style:none;}
img{width:100%;}

.content{position:relative; width:1000px; margin:0 auto;}
.content-title{
    text-transform:uppercase;
    font-size:7rem;
    letter-spacing:.25rem;
}
@media(max-width:1001px){.content{width:700px;}}
@media(max-width:701px){.content{width:500px;}}

@import 'logo';
@import 'nav';
@import 'landing';
@import 'about';
@import 'projects';
@import 'contact';